<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.username %> 님!</h1>
    <p>신고가 접수되어 처리 중에 있습니다.</p>
    <p>해당 처리가 끝나면 결과를 알려드리겠습니다.</p>
    <p>감사합니다.</p>
  </body>
</html>
